body {
    margin: 0;
    padding: 0;
}
/* top section start */
.top{
  background-color: #242c42;
  width: 100%;
  color: #fff;
  height: 30px;
}
.container{
	 width: 1170px;
}
.topLeft{
	float: left;
}
.topLeft ul {
	display: flex;
	list-style: none;
	
}
.topLeft ul li{
	margin-right: 20px;
}
.topLeft ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	
}
.topLeft ul li a:hover{
	color: #86BC42;
}
.icon{
	color: #86BC42;
	margin-right: 10px;
	font-size: 12px;
}


.topRighteft{
float:right;
}
.topRighteft ul {
	display: flex;
	list-style: none;
	
}
.topRighteft ul li{
	margin-right: 20px;
}
.topRighteft ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	
}
.topRighteft ul li a:hover{
	color: #86BC42;
}

/* top section end */

/* header part start */
.head {
	width: 100%;
	height: 80px;
	top: 30px;
}
.navhead{
	background-color:#FFFFFF;

}
.image1 {
	height: 60px;
	width: 60px;
	margin-top: -10px;
}
.link-1
.link-1 ul{}
.link-1 ul li {
	margin-right: 36px;
}
.link-1 ul li a{
	color: #070707;
	font-size: 14px;
	text-transform: uppercase;

}
.link-1 ul li a:hover,#active{
	color: #86BC42;
	border-bottom: 2px solid #86BC42;

}
.link-1 ul li ul{

}
.link-1 ul li ul li a{
	text-transform: capitalize;
	border-bottom: none;
}



/* header part end */

/* slider part start */


.col3-1{
	width: 25%;
	background: #F5F5F5;
	height: 420px;
}
.col-3 h3{
	background: #86BC42;
	color: #fff;
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	margin-top: 1px;
	font-size: 14px;
}
.scroll-21{
	width: 100%;
	height: 337px;
	overflow: auto;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: -23px;
}
.scroll-21 li {
	line-height: 20px;
	list-style: none;
	color: #366CB0;
	padding-bottom: 15px;
}
.scroll-21 li a {
	color: #020E65;
	text-decoration: none;
	font-size: 13px;
	border-bottom: 1px solid red;
	padding-bottom: 10px;
}
.scroll-21 li a:hover{
	color:#9EF5F5
}

/* slider part end */






.col4 {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: space-between;
    height: 400px;
	margin-top: 50px;
}

.col4-1 {
	width: 25%;
	background: #F5F5F5;
	height: 420px;
}

.col4-1 h3 {
	background: #86BC42;
	color: #fff;
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	margin-top: 1px;
}
.scroll-1{
	width: 100%;
	height: 337px;
	overflow: auto;
	font-size: 14px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.scroll-1 a {
	text-decoration: none;
	margin: 0 auto;
	color: #020E65;
    font-size: 14px;
}
.scroll-1 a:hover{
    color:#2a7979
}
.scroll-1 p {
	margin-top: 4px;
	color: #000;
	font-size: 14px;
	border-bottom: 1px solid red;
	padding: 6px;
	width: 95%;
}

.col4-2 {
	width: 25%;
	background: #F5F5F5;
	height: 420px;
	text-align: justify;
	padding: 10px;
	margin-left: 20px;
}

.col4-2 h2 {
	font-size: 20px;
	text-transform: uppercase;
	color: #575757;
	font-weight: normal;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 10px;
}
.col4-2 h2:hover{
    color: #86BC42;
}
.col4-2 h6 {
	font-size: 15px;
	margin-bottom: -10px;
	color: rgb(9, 9, 9);
}
.col4-2 p {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
	line-height: 21px;
	padding: 10px;
	color: #616161;
}
.btn1 {
	background: green;
	padding: 3px 5px;
	color: #fff;
	font-size: 12px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 260px;
	border: none;
	border-radius: 5px;
}
.btn1:hover{
    background:#86BC42
}


.col4-2:hover{
	background: #fff;
	border-bottom: 4px solid #38464C ;
}


.col4-3 {
	width: 25%;
	background: #F5F5F5;
	height: 420px;
	text-align: justify;
	padding: 10px;
	margin-left: 20px;
}
.col4-3:hover{
    background: #fff;
	border-bottom: 4px solid #38464C ;
}
.col4-3 h2 {
	font-size: 20px;
	width: 70%;
	text-transform: uppercase;
	margin-left: 10px;
	color: #323232;
	font-weight: normal;
	margin-bottom: -7px;
}
.col4-3 h2:hover{
    color:#86BC42;
}
.col4-3 p {
	color: #111111;
	line-height: 21px;
	font-size: 14px;
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn2 {
	background: green;
	padding: 3px 5px;
	color: #fff;
	font-size: 12px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: 12px;
	border: none;
	border-radius: 5px;
}
.btn2:hover{
    background: #86BC42;
}


.col4-4 {
	width: 25%;
	background: #F5F5F5;
	height: 420px;
	margin-left: 20px;
}
.col4-4 h3 {
	background: #86BC42;
	color: #fff;
	padding: 10px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: normal;
	margin-top: 1px;
}



.scroll-2 {
	width: 100%;
	height: 337px;
	overflow: auto;
	font-size: 18px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-left: -23px;
}

.scroll-2 ul{} 
.scroll-2 ul li {
	line-height: 22px;
	list-style: disclosure-closed;
	color: #366CB0;
}
.scroll-2 ul li a{
    color: #366CB0;
    text-decoration: none;
    font-size: 14px;
}
.scroll-2 ul li a:hover{
    color: #3378cd;
}
.col5 {
	background: #242C42;
	width: 100%;
	height: 400px;
	position: absolute;
	margin-top: 70px;
}
.col5-upper {
	display: flex;
	margin-top: 45px;
}
.left {
	width: 30%;
	margin-left: 135px;
}
.left h2 {
	color: #5CB85C;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #6F6F6F;
	padding-bottom: 25px;
}
.left ul {
	color: white;
	margin-left: -43px;
}
.left ul li {
	font-size: 16px;
	line-height: 20px;
	list-style: none;
	border-bottom: 1px solid #6F6F6F;
	padding-bottom: 15px;
}
.left ul li:last-child{
	border-bottom: 0px solid #6F6F6F;
}
.left ul li i{}

.fa-solid {margin-right: 5px;}

.middle {
	width: 20%;
	margin-left: 64px;
}
.middle h2 {
	color: #5CB85C;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 35px;
	margin-left: 13px;
}
.middle ul {
	color: #fff;
	margin-top: -40px;
}
.middle ul li {
	list-style: disclosure-closed;
	color: #fff;
}
.middle ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 26px;
	font-size: 16px;
}
.middle ul li a:hover{
	color: #5CB85C;
}



.right {
	width: 20%;
	margin-left: 100px;
}
.right h2 {
	color: #5CB85C;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 35px;
	margin-left: -7px;
	margin-bottom: -10px;
}
.right img {
	width: 170px;
	height: 60px;
	margin-bottom: 5px;
}
.col5-footer{

}


.footerleft {
	float: left;
	margin-left: 130px;
}
.footerleft p {
	color: #dadada;
}

.footerright {
	float: right;
	margin-right: 150px;
}
.footerright p{
	color: #dadada;
}
.footerright a{
	text-decoration: none;
}
.color{
	color: rgb(113, 159, 182);
}
hr {
	width: 82%;
}

/* About page start */

.Welcome {
	width: 100%;
	background-color: #EAEDF5;
	height: 60px;
	padding: 5px;
}
.container h1 {
	color: #242C42;
	font-size: 28px;
	font-weight: normal;
	padding: 6px;
}
.container h6{
	color: #000;
	font-weight:bold;
}
/* About page End */
/* contact page start */
fieldset{
	border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

.sendmail{
	float: right;
}
.address{}
.address ul li{
	list-style: none;
}
.map{
	margin-top: 20px;
	margin-bottom: 20px;
}
.map h2{
	margin-bottom: 20px;
}
/* contact page end */

/* feedback page start */

.feedback {
	border: 1px solid #ddd;
	width: 100%;
	height: 590px;
}
.ace-icon{
	
}
.feedback1 {
	width: 100%;
	background-color: #F5F5F5;
	height: 30px;
}
.feedback1 p {
	font-size: 12px;
	margin-left: 10px;
}
.feedback2 {
	width: 95%;
	background-color: #F5F5F5;
	border: 1px solid #ddd;
	height: 90px;
	margin-top: 10px;
	margin: 15px;
}
.feedback2 h4 {
	margin-left: 10px;
	font-size: 17px;
	color: black;
}
.feedback2 p {
	font-size: 12px;
	margin-left: 10px;
}
.feedback2:hover{
	background-color: #ddd;
	cursor: pointer;
}
/* feedback page end */

/* login page start */

.head1 {
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	box-shadow: 5px 10px 18px #888888;
}

.login {
	height: 300px;
	width: 800px;
	margin: 0 auto;
	border: 1px solid #ddd;
	margin-top: 250px;
	margin-bottom: 250px;
	padding: 50px;
	box-shadow: 22px 3px 61px 7px #888888;
}
.log{}
.log h2 {
	text-transform: uppercase;
	margin-bottom: 40px;
}


/* login page end */